.wc-product-categories  {
    list-style: none;
    padding: 25px;
    margin-left: 0;
}

.wc-product-categories .item input {
    margin-right: 10px;
}
.product-load-more {
    margin: 0 auto;
    display: block;
}

.woocommerce ul.products li.product, 
.woocommerce-page ul.products li.product {
	min-height: 500px;
}

.wc-product-categories-container {
    background-color: #FAFBEF;
}

.wc-product-categories .item {
    border-bottom: 1px solid #000;
    padding-top: 10px;
}

.wc-product-categories .item:last-child {
    border-bottom: none;
}

.wc-product-categories .item h4 {
    font-family:"Open Sans";
    font-size: 18px;
    line-height: 22px;
}

.wc-product-categories .item label {
    font-weight: 400;
    color: #000000b2;
}

.button.product-load-more {
    margin: 0 auto !important;
    display: block !important;
}

@media (min-width: 767px) {
    .wc-product-categories .item h4 {

    }
}